body {
  background: #dbd0d0;
  font-family: "Courier New", Courier, monospace;
}

header {
  margin: 10vh;
}
.footer-elements {
  margin: 30vh 0 0 0;
}
.copyright p {
  color: #011f3f;
  font-size: 1rem;

  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.links img:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
